In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
df = pd.read_csv('../data/soft_skills.csv')

In [91]:
df.head()

,text,soft_skills
0,Supervises financial management and administr...,"['instructing', 'communication', 'mediation']"
1,Serves as member of management team participa...,"['mediation', 'organization', 'coordination']"
2,Directs and oversees the company's financial ...,"['mediation', 'coordination', 'communication']"
3,Directs and oversees the annual budgeting pro...,"['coordination', 'mediation', 'instructing']"
4,Prepares external and internal financial mana...,"['mediation', 'communication', 'coordination']"

In [92]:
df.shape

(6669, 2)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6669 entries, 0 to 6668
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         6669 non-null   object
 1   soft_skills  6669 non-null   object
dtypes: object(2)
memory usage: 104.3+ KB